.container{
    display: flex;
    justify-content: center;
}

.card{
    width: 100%;
    max-width: 450px;
    color: grey;
    line-height: 0.7;
}
.question_title{
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 1;
}

.buttons_{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 9px 30% 0;
}
.button{
    margin-top: 15px;
}
.cardBottom{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}